body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
   
}

form fieldset{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}
form legend{
    font-weight: bold;
    padding: 0 0.5rem;
}
form-group{
    margin-bottom: 1rem;

}
.form-label{
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
}
.form-group input,
.form-group select,
.form-group textarea{
    width: 98%;
    padding: 0.75rem 0.75rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.sucess-message{
    display: none;
    margin-top: 1rem;
    color:green;
    font-weight: bold;
    text-align: center;
}

footer{
    text-align: center;
    padding: 2rem;
    background: white;
    margin-top: -3px;
}

#tabelaVoluntarios table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    font-family: 'Segoi UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#tabelaVoluntarios th,
#tabelaVoluntarios td{
    padding: 0.75rem 1rem;
    border: 1px solid #ccc;
    text-align: center; 

}

#tabelaVoluntarios th{
    background-color: #667eea;
    color: white;
    font-family: 600;
}

#tabelaVoluntarios tr:nth-child(even){
    background-color: #f9f9f9;
}

#tabelaVoluntarios tr:hover{
    background-color: #e0e0ff;
}

#tabelaVoluntarios table{
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0, 1);
}

#tabelaVoluntarios p{
    text-align: center;
    font-weight: 500;
    color: #333;
    padding: 1rem;
}